.header {
  color: white;
  display: flex;
  justify-content: center;
  font-size: x-large;
  letter-spacing: 0.5vw;
  position: relative;
}

.logo {
  width: 20%;
  height: auto;
  animation-name: animateIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes animateIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
